<div class="contentHeader">
	<h1 class="contentTitle">{L_ci_step}: {STEP_NAME}</h1>
</div>


<form method="post" action="{ACTION}" name="post" id="sso_settings">	
	{OUTPUT}
	
	<!-- IF not S_END --><br />
	
	<div class="contentFooter">
		<input type="hidden" name="step_id" value="{STEP_ID}" />
		<input type="hidden" name="step_type" value="{STEP_TYPE}" />
		<input type="hidden" name="next_step" value="{NEXT_STEP}" />
		<input type="hidden" name="next_step_type" value="{NEXT_STEP_TYPE}" />
		<button class="mainoption" type="submit" name="step"><i class="fa fa-check"></i> {L_ci_continue}</button>
	</div>
	
	<!-- ENDIF -->
{CSRF_TOKEN}	
</form>